@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

:root {
  --color-primary: #677be9;
}

body {
  background-color: #303030;
  color: white;
  font-family: "Raleway";
}

.welcome,
.categorias,
.question-board,
.score {
  text-align: center;
}

.welcome button,
.categorias button,
.next-question,
.play-again {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
}

.welcome p {
  color: #ffffff;
}

.categorias button {
  margin-right: 20px;
}

.all-alternatives {
  width: 400px;
  margin: 0 auto;
}

.question-board .alternative {
  background-color: #9c9ce0;
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
}

.alternative:hover {
  background-color: #acacdb;
}
